/*Color variables*/
:root{
    --color1: #FFD6BA; /*(255,214,186)*/
    --color2:#555B6E; /*(85,91,110)*/
    --color3: #89B0AE; /*(137,176,174)*/
    --color4: #BEE3DB; /*(190,227,219)*/
    --white: #FAF9F9; /*(250,249,249)*/
}
/*Universal Styling*/
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header Styling*/
header{
    background-image: url("/assets/images/beach.png");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    z-index: 9999;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color: var(--white);
    margin: 0;
    text-shadow: 0 0 10px rgba(85, 91, 110, 0.5);
}

header a{
    text-decoration: none;
    color: var(--color2);
}

header nav{
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vw;
    text-shadow: 0 0 20px rgba(250, 249, 249, 0.8);
}

header nav ul li a:hover{
    color: var(--white);
    text-shadow: 0 0 50px rgba(85, 91, 110, 0.9);

}

/*Footer Styling*/
footer{
    background: linear-gradient(to bottom, var(--color1), var(--color2));
    width: 100%;
    margin: 0 auto;
    padding: 10px 35px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    font-size: 20px;
}

footer h2{
    text-align: center;
    color: var(--color4);
    margin: 0 auto 35px auto;
    padding-bottom: 15px;
    border-bottom: 3px solid var(--color4);
    width: 30%;
    text-shadow: 0 0 10px rgba(85, 91, 110, 0.9);
}

.contacts{
    margin: 7px 0;
}

.contacts a{
    color: var(--color4);
}

.contacts ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.contacts ul li{
    color: var(--white);
    text-shadow: 0 0 10px rgba(85, 91, 110, 0.3);
}


.contacts ul li a{
    padding: 10px 15px;
    font-weight: lighter;
}

/*Hero Styling*/
.hero{
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    background-image: url("/assets/images/beach.png");
    height: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero h1{
    color: var(--white);
    justify-content: flex-end;
    align-content: flex-end;

}

/*Body Styling*/
main{
    padding: 60px;
    background: var(--color1);
}
.work{
    padding: 20%;
}

.contact-info{
    padding: 20%;
}