/*Color variables*/
:root{
    --light-blue: #a9cbd9; /*(169,203,217)*/
    --grey:#60758d; /*(96,117,141)*/
    --sand: #d9c8b4; /*(217,200,180)*/
    --orange: #f2ae72; /*(242,174,114)*/
    --brown: #40332e; /*(64,51,46)*/
    --white: #FAF9F9; /*(250,249,249)*/
}
/*Universal Styling*/
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    max-height: 100%;
}

/*Header Styling*/
header{
    background-image: url("../assets/images/beach.png");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    padding: 15px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color: var(--white);
    margin: auto 0;
    text-shadow: 0 0 10px rgba(85, 91, 110, 0.5);
}

header span{
    padding: 4px;
    padding-top: 2px;
    background: var(--brown);
    color: var(--light-blue);
    border-radius: 50%;
    text-shadow: none;
    box-shadow: 0 0 10px rgba(85, 91, 110, 0.5);
}

header a{
    text-decoration: none;
    color: var(--grey);
}

header nav{
    margin: auto 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    text-shadow: 0 0 20px rgba(250, 249, 249, 0.8);
}

header nav ul li a:hover{
    color: var(--white);
    text-shadow: 0 0 30px rgba(85, 91, 110, 0.9);

}

/*Footer Styling*/
footer{
    padding: 2%;
    background: linear-gradient(to bottom, var(--sand), var(--brown));
}

footer h3{
    color: var(--white);
    font-weight: lighter;
}

/*Hero Styling*/
.hero{
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    background-image: url("../assets/images/beach.png");
    height: 250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    border-bottom: 12px solid var(--grey);
}

.hero h1{
    color: var(--white);
    justify-content: flex-end;
    align-content: flex-end;
}

/*Main Body Styling*/
main{
    background: linear-gradient(to bottom, var(--white), var(--sand));
    margin: 0;
}

main h2{
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--light-blue);
    font-size: 2vw;
    color: var(--grey);
}

 /*Work Styling*/
.portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: auto;
    padding: 2%;
}

.portfolio h2{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2vw;
}

.portfolio a{
    height: 40vh;
    background-color: rgba(85,91,110,0.8);
    text-decoration: none;
    color: var(--white);
    text-shadow: 0 0 5px rgba(85, 91, 110, 0.7);
}

/*Work Grid*/
.container{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px;
    grid-row-gap: 180px;
    grid-auto-flow: dense;
    
}
.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    color: var(--primary-color);
}
.deployment{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0 0 20px rgba(85, 91, 110, 0.4);
    flex: 1;
}
.d1{
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}
.d2{
    grid-column: 4 / span 3;
    grid-row: 1 / span 2;
}
.d3{
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
}
.d4{
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
}
.d5{
    grid-column: 5 / span 2;
    grid-row: 3 / span 2;
}
.d6{
    grid-column: 1 / span 6;
    grid-row: 5 / span 2;
}
/*Grid end*/

.dply-1{
    background-image: url("../assets/images/run-buddy.png");
}
.dply-2{
    background-image: url("../assets/images/horiseon.png");
}
.dply-3{
    background-image: url("https://picsum.photos/id/1018/500/500?blur=1");
}
.dply-4{
    background-image: url("https://picsum.photos/id/1033/500/500?blur=1");
}
.dply-5{
    background-image: url("https://picsum.photos/id/1081/500/500?blur=1");
}
.dply-6{
    background-image: url("https://picsum.photos/id/1053/1200/200?blur=1");
}

.deployment-img{
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

.deployment-img h3{
    position: relative;
    z-index: 1;
    font-size: 28px;
    margin-bottom: 5px;
    top: 200px;
    transition: 0.5s;
}

.deployment-img h4{
    position: relative;
    z-index: 1;
    font-size: 22px;
    top: 200px;
    transition: 0.5s;
}

.deployment-img::after{
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(169,203,217, 0.5);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(169,203,217, 0.5), var(--grey));
    transition: 0.5s;
}

.deployment:hover .deployment-img::after{
    opacity: 1;
}

.deployment:hover .deployment-img h3, .deployment:hover .deployment-img h4{
    top: 0px;
}

.deployment-mobile{
    padding: 25px;
    line-height: 1.3;
}

.deployment-mobile h3{
    font-size: 28px;
    display: none;
}

.deployment-mobile h4{
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
    display: none;
}

/*About Me Styling*/
.bio{
    margin: 5% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.bio-img{
    width: 20%;
    margin-left: 25%;
}

 .bio-text{
    text-align: left;
    width: 35%;
    justify-content: flex-start;
    margin-right: 15%;
 }

 .bio-text p{
    color: var(--grey);
    padding: 10px 0;
 }

/*Contact Styling*/
#contact-info{
    width: 100%;
    margin-top: 4%;
    padding: 2% 0;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

#contact-info h2{
    font-size: large;
    text-align: center;
    color: var(--grey);
    margin: 0 auto 35px auto;
    padding-bottom: 15px;
    border-bottom: 3px solid var(--light-blue);
    width: 30%;
}

.contacts{
    margin: 7px 0;
}

.contacts a{
    color: var(--grey);
}

.contacts ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-bottom: 5px;
}

.contacts ul li a{
    padding: 10px 15px;
    font-weight: 400;
    font-size: medium;
}

/*MEDIA QUERIES*/

/*Small Desktop and smaller*/
@media screen and (max-width: 980px){
    /*Header Styling*/
    header{
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1{
        width: 100%;
        text-align: center;
    }

    header nav ul{
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a{
        font-size: 20px;
    }

    /*About Me Styling*/
    .bio-img{
        margin-left: 10%;
        width: 38%;
    }

    .bio-text{
        margin-left: 2%;
    }
}

/*Tablet and smaller*/
@media screen and (max-width: 768px){
    /*Main Body Styling*/
    main h2{
        font-size: 5vw;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }

    /*Work Styling*/
    .portfolio{
        padding-bottom: 15%;

    }
    .deployment{
        background-color: var(--brown);
    }

    .deployment-mobile{
        padding: 25px;
        line-height: 1.3;
        color: var(--light-blue);
        text-align: center;
    }
    
    .deployment-mobile h3{
        font-size: 28px;
        display: none;
    }
    
    .deployment-mobile h4{
        font-weight: lighter;
        font-size: 22px;
        margin-bottom: 15px;
        display: none;
    }

    .deployment-img h3, .deployment-img h4, .deployment-img::after{
        display: none;
    }

    .deployment-mobile h3, .deployment-mobile h4{
        display: block;
    }
    
    /*About Me Styling*/
    .bio{
        display: block;
        margin: 0;
        padding: 2% 8%;
        padding-top: 8%;
    }

    .bio-img{
        width: 50%;
        margin: 0 auto;
    }

    .bio-text{
        margin: 5% auto;
        width: 100%;
    }

    .bio-text p{
        font-size: 3vw;
    }

    .portfolio{
        width: 100%;
    }
}

/*Mobile phone and smaller*/
@media screen and (max-width: 575px){
    /*Work Styling*/
    .portfolio{
        margin: 2% auto;
        padding-bottom: 0;
    }
    /*Grid Styling*/
    .container{
        display: block;
        margin: 2% auto;
    }

    .deployment{
        margin: 5% auto;
    }

}